<p id="notice"><%= notice %></p>

<h1>Paraderos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre p</th>
      <th>Tipo p</th>
      <th>Ubicacion p</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paraderos.each do |paradero| %>
      <tr>
        <td><%= paradero.nombre_p %></td>
        <td><%= paradero.tipo_p %></td>
        <td><%= paradero.ubicacion_p %></td>
        <td><%= link_to 'Show', paradero %></td>
        <td><%= link_to 'Edit', edit_paradero_path(paradero) %></td>
        <td><%= link_to 'Destroy', paradero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paradero', new_paradero_path %>
